* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* O parametro ( ::-webkit-scrollbar{} ) é utilisado para esconder a barra de rolagem. */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: red;
}